{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Create new Client</h1>

    {{form_start(form)}}
        {{form_row (form.code) }}
        {{form_row (form.libelle)}}
        {{form_row (form.responsable)}}
        {{form_row (form.adresse)}}
        {{form_row (form.ville)}}
        {{form_row (form.tel)}}
        {{form_row (form.portable)}}
        {{form_row (form.email)}}
        {{form_row (form.matfisc)}}
        {{form_row (form.cin)}}
       {# <button type="submit">Ajouter un client</button>#}
    {{form_end(form)}}

    <a href="{{ path('client_index') }}">back to list</a>
{% endblock %}
